<!DOCTYPE html>
<html>

<head>
    <title>NPTEL</title>
    <meta property="og:title" content="NPTEL" />
    <meta property="og:site_name" content="NPTEL" />
    <meta property="og:description" content="Access NPTEL courses and content." />
    <meta property="og:url" content="https://s3cloud.online" />
</head>

<body>
    <center style="position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);">
        <a href="/NOC/NOC25/SEM1/Ecertificates/106/noc25-cs11/Course/<%= certId %>.pdf" target="_blank"
            style="color:white; background-color:#3070bf;padding:10px 20px;border-radius:8px;text-decoration:none;display: inline-block;width: 156px;">Course
            Certificate</a>
        <br>
    </center>
</body>

</html>